<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC02-2TRI-Novas Telas e Range
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<h4 class="meio">MÊS 1</h4>
  <ion-range min="1" max="40" step="1" [(ngModel)]="mes1" pin="true" snaps="true">
    <ion-label slot="start">1</ion-label>
    <ion-label slot="end">40</ion-label>
  </ion-range>
  <h4 class="meio">MÊS 2</h4>
  <ion-range min="1" max="40" step="1" [(ngModel)]="mes2" pin="true" snaps="true">
    <ion-label slot="start">1</ion-label>
    <ion-label slot="end">40</ion-label>
  </ion-range>
  <h4 class="meio">MÊS 3</h4>
  <ion-range min="1" max="40" step="1" [(ngModel)]="mes3" pin="true" snaps="true">
    <ion-label slot="start">1</ion-label>
    <ion-label slot="end">40</ion-label>
  </ion-range>
  <h4 class="meio">MÊS 4</h4>
  <ion-range min="1" max="40" step="1" [(ngModel)]="mes4" pin="true" snaps="true">
    <ion-label slot="start">1</ion-label>
    <ion-label slot="end">40</ion-label>
  </ion-range>

  <ion-button class="meio_bot" (click)="mediameses()">Quais frutas eu posso plantar ?</ion-button>
<br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col>Fruta</ion-col>
      <ion-col>Temperatura mínima</ion-col>
      <ion-col>Temperatura máxima</ion-col>
    </ion-row>
  </ion-grid>

<br>
  <ion-grid>
    <ion-row>
      <ion-col>Maçãs</ion-col>
      <ion-col>15 graus</ion-col>
      <ion-col>22 graus</ion-col>
    </ion-row>
  </ion-grid>
<br>
  <ion-grid>
    <ion-row>
      <ion-col>Bananas</ion-col>
      <ion-col>20 graus</ion-col>
      <ion-col>35 graus</ion-col>
    </ion-row>
  </ion-grid>
<br>
  <ion-grid>
    <ion-row>
      <ion-col>Pêssegos</ion-col>
      <ion-col>18 graus</ion-col>
      <ion-col>25 graus</ion-col>
    </ion-row>
  </ion-grid>
<br>
  <ion-grid>
    <ion-row>
      <ion-col>Manga</ion-col>
      <ion-col>20 graus</ion-col>
      <ion-col>30 graus</ion-col>
    </ion-row>
  </ion-grid>
<br>
  <ion-grid>
    <ion-row>
      <ion-col>Abacaxi</ion-col>
      <ion-col>20 graus</ion-col>
      <ion-col>30 graus</ion-col>
    </ion-row>
  </ion-grid>
<br>
  <ion-grid>
    <ion-row>
      <ion-col>Melancia</ion-col>
      <ion-col>25 graus</ion-col>
      <ion-col>35 graus</ion-col>
    </ion-row>
  </ion-grid>
<br>
  <ion-grid>
    <ion-row>
      <ion-col>Limão</ion-col>
      <ion-col>15 graus</ion-col>
      <ion-col>30 graus</ion-col>
    </ion-row>
  </ion-grid>
<br>
  <ion-grid>
    <ion-row>
      <ion-col>Morangos</ion-col>
      <ion-col>15 graus</ion-col>
      <ion-col>25 graus</ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
